@charset "UTF-8";
/* CSS Document */

:root{
    --MoonGlow : #FEFCD7;
    --primaryColor: #f09d51;
    --mainBlue: #42A8C0;
    --mainWhite: #fff;
    --mainBlack: #222;
    --mainBackgroundWhite: #d9d9d9;
    --mainGrey: #ececec;
    --mainSpacing: 0.1rem;
    --mainTransition: all 0.3s linear;
    --mainGreen: #41B3A3;
    --mainGreet: #f0EBF4;
}

body{
    font-family: 'Roboto', sans-serif;
    color: var(--mainBackgroundWhite);
    background: var(--mainWhite);
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


h1, h2, h3, h4, h5, h6 {
    font-weight: 700px;
}

.email, .phone, .linkedin, .github{
    padding: 2px;
}

.fa-envelope, .fa-phone, .fa-linkedin-in, .fa-github{
    margin-right: 10px;
    padding: 0;
}

.github a{
    color: black;
}

.linkedin a{
    color: black;
}

.phone a{
    color: black;
}

.email a{
    color: black;
}
a {
    color: var(--mainGreen);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
  }
  
  a:hover {
    text-decoration: none;
    color: var(--mainGreen);
  }
  
  a:focus {
    text-decoration: none;
  }
  
  p {
    line-height: 1.5;
  }
  

.wrapper{
    background: #42A8C0;
  max-width: 1085px;
  margin: 0 auto;
  position: relative;
  float: left;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1)
}

.profile{
        border: 2px solid  black;

}

img{
    border-radius: 50%;
    width: 200px;
   
}

.tagline, .name{ color: black}
.sidebar-wrapper {
    background: #42A8C0;
    position: absolute;
    left: 0;
    padding-top: 45px;
    width: 300px;
    height: 100%;
    min-height: 800px;
    color: #fff;
}

.sidebar-wrapper .profile-container {
    padding: 30px;
    background: rgba(0, 0, 0, 0.3);
    text-align: center;
    color: #fff;
  }

  .sidebar-wrapper .tagline {
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
  }

  .sidebar-wrapper .name {
    font-size: 32px;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 10px;
  }
  .container-block{
      margin-left: 15px;
      color: var(--mainBlack);
  }

  .main-wrapper {
    background: var(--mainBackgroundWhite);
    padding: 60px;
    padding-left: 380px;

  }

  .main-wrapper .section-title{
      text-transform: uppercase;
      font-size: 20px;
      font-weight: 500;
      color: var(--mainBlue);
      position: relative;
      margin-top: 0;
      margin-bottom: 20px;
  }

  .main-wrapper .section-title .icon-holder{
    width: 30px;
    height: 30px;
    margin-right: 8px;
    display: inline-block;
    color: var(--mainBlack);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background: var(--mainBlue);
    text-align: center;
    font-size: 16px;
    position: relative;
    top: -8px;
  }

  .main-wrapper .section-title .icon-holder .svg-inline--fa {
    font-size: 14px;
    margin-top: 6px;
  }
  
  .main-wrapper .section{
      margin-bottom: 60px;
  }

  .main-wrapper .time{
      position: absolute;
      right: 0;
      top: 0;
  }

  .skillset .item {
    margin-bottom: 15px;
    overflow: hidden;
  }
  
  .skillset .level-title {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 12px;
  }
  
  .main-wrapper .project-title {
    font-size: 16px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 5px;
  }
  
  .main-wrapper .projects-section .intro {
    margin-bottom: 30px;
  }
  
  .main-wrapper .projects-section .item {
    margin-bottom: 15px;
  }


